html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

#webix-playground {
    flex-grow: 1;  /* fill the remaining space in the parent element*/
}

footer {
    background-color: #f8f8f8;
    border-top: 1px solid #e7e7e7;

}

.container{

}

.table{
    table-layout: fixed;
}

.table td{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.mainContent{
    min-height: 870px;
}

.card, .card2{
    width:100px;
    height:100px;
    background:red;
    border: 5px solid white;
}

.card2{
    background: orange;
}

.card2>p{
    line-height: 90px;
    font-size: 50px;
    color: white;
    font-weight: bold;
    text-align: center;
}
.story-counter{
    border:1px solid black;
}

.play-summary{
    height: 70px;
    padding: 10px 0 10px 0;
}
.play-summary> div{
    height:50px;
    border: 1px solid black;
    box-sizing: border-box;

}

.counter p{
    line-height: 50px;
    font-size:50px;
}